<html>

<head>
  <style>
    body {
      font-family: Arial, Helvetica, sans-serif;
    }
  </style>
</head>

<body>
  <strong>Hello, {{ ad.author.name }}</strong>
  <p>You have new purchase request: {{ ad.title }}</p>
  <br>
  <strong>{{ user.name }} ({{ user.email }}):</strong>
  <p>{{ content }}</p>
</body>


</html>
